@media screen and (min-width: 1024px) {
    main {
        flex-direction: row-reverse;
        background-color: #c3cfda;
    }
    .bottom-bar {
        padding-inline: 2%;
        width: 27%;
        min-height: auto;
        flex-direction: column;
        background-color: #f0f0f0;
        justify-content: flex-start;
        padding-bottom: 2%;
    }

    .profile {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .icon {
        width: 4vw;
        height: 4vw;
        background-color: #d1efec;
    }

    .video-content {
        width: 45vw;
        height: 35vw;
    }

    li {
        flex-direction: row;
        gap: 2em;
    }

    .action, .name, .email {
        display:block;
    }

    .action {
        font-size: 1.8vw;
        color: red;
    }

    button {
        width: 100%;

    }

    .button-content {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: flex-end;
    }

    hr {
        background-color: #2b7868;
    }

    p {
        margin: 0px;
        color: black;
        text-align: left;
        font-size: 1.5vw;
    }

}